* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    padding-inline: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#login,
#signup {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#login {
    background-color: #3498db;
    color: #fff;
}

#signup {
    background-color: #2ecc71;
    color: #fff;
    margin-left: 10px;
}

#login:hover,
#signup:hover {
    background-color: #2980b9;
}

#container-title {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    margin: 0;
    margin-right: 20px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid rgb(171, 100, 6);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

hr {
    margin-top: 2vh;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 5vh;
    column-gap: 2.3vw;
    flex: 1;

}

.item-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 5vh;
    padding: 2vh 0;
    flex-basis: 200px;
}

#item-title {
    font-size: 0.9rem;
    text-align: center;
}

.item-container:hover {
    cursor: pointer;
}

.cloth-category {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.category-heading {
    padding-top: 2vh;
    text-align: center;
    font-size: 1.7rem;
    color: red;
    text-decoration: underline;
}

.price-details {
    color: white;
    background-color: #2f996d;
}

.price-details p {
    margin: 3px;
}

#copyright {
    font-size: 1rem;
    text-align: center;
    background-color: black;
    color: white;
}

@media screen and (max-width: 480px) {

    .container {
        row-gap: 3vh;
    }

    .header {
        padding: 10px;
    }

    #login,
    #signup {
        padding: 8px 16px;
        font-size: 14px;
    }

    #container-title {
        font-size: 2rem;
        margin-right: 10px;
    }

    .cards {
        column-gap: 8vw;
    }

    .item-container {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1vh 0;
    }

    .category-heading {
        font-size: 1.5rem;
    }

    #item-image {
        height: 200px;
        width: 200px;
    }

    #item-title {
        text-align: center;
    }
}

@media screen and (max-width: 375px) {

    .container {
        row-gap: 2vh;
    }

    #login,
    #signup {
        padding: 8px 12px;
        font-size: 13px;
    }

    #container-title {
        font-size: 1.4rem;
    }

    .cards {
        column-gap: 2vw;
    }

    .item-container {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1vh 0;
    }

    .category-heading {
        font-size: 1.3rem;
    }

    #item-image {
        height: 120px;
        width: 120px;
    }

    #item-title {
        text-align: center;
    }


}