* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: lightgray;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#container-title {
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#login{
    font-size: 1.5rem;
}

input {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 32px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
}

#button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    border-radius: 32px;
    font-size: 1rem;
}

#message {
    font-size: 1rem;
    color: black;
    text-align: center;
    padding: 1rem;
}
