* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

#container-title {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    color: black;
}


#product-details {
    height: 100%;
    display: flex;
    justify-content: center;
}

.product-container {
    height: auto;
    flex: 0.5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
}

img {
    height: 40%;
    width: 27%;
}

#price,
#rating,
#count {
    font-size: 1.15rem;
}

#price:hover,
#rating:hover,
#count:hover {
    cursor: pointer;
    color: red;
}

#description {
    text-align: center;
    font-size: 1.3rem;
    color: grey;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid rgb(171, 100, 6);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:375px) {
    #title{
        font-size: 1rem;
        text-align: center;
    }
    
    img {
        height: 19vh;
        width: 33vw;
    }

    #description{
        font-size: 0.8rem;
    }
}